<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <style>
        [x-cloak] { display: none; }
    </style>
    {# <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet"> #}
    {{function('wp_head')}}
</head>

<body class="{{body_class}} " data-template="base.twig" data-layout="{{ layout_type|default('boxed') }}">
    {# Top Header Alert Banner #}
    {% include "partial/top-header/top-header.twig" %}
    <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">
      {% include 'header.twig' %}

      <main class="">
          {% block content %}
          Sorry, no content
          {% endblock %}
      </main>

      <div>
      {% block footer %}
          {% include 'footer.twig' %}
          {{ function('wp_footer') }}
      {% endblock %}

      </div>
    </div>
    {# Cart Drawer - Available site-wide #}
    {% include 'components/cart-drawer/cart-drawer-include.twig' %}
</body>
</html>
