<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <style>
        [x-cloak] { display: none; }
    </style>
    {# <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet"> #}
    {{function('wp_head')}}
</head>

<body class="{{body_class}} min-h-screen flex flex-col" data-template="base.twig" data-layout="{{ layout_type|default('boxed') }}">
    {% include 'header.twig' %}

    <main class="flex-grow">
        {% block content %}
        Sorry, no content
        {% endblock %}
    </main>

    {% block footer %}
        {% include 'footer.twig' %}
        {{ function('wp_footer') }}
    {% endblock %}

    {# Cart Drawer - Available site-wide #}
    {% include 'components/cart-drawer/cart-drawer-include.twig' %}
</body>
</html>
